<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="site.liuye.demo.mapper.UserMapper">
    <resultMap id="userResultMap" type="site.liuye.demo.entity.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="enabled" column="is_enabled"/>
        <result property="locked" column="is_locked"/>
        <result property="deleted" column="is_deleted"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="getUserById" parameterType="long" resultMap="userResultMap">
        SELECT *
        FROM `user`
        WHERE id = #{id}
    </select>

    <select id="getUserByUsername" parameterType="string" resultMap="userResultMap">
        SELECT *
        FROM `user`
        WHERE username = #{username}
    </select>

    <select id="listUsers" resultMap="userResultMap">
        SELECT *
        FROM `user`
    </select>

    <select id="countUsers" resultType="int">
        SELECT COUNT(*)
        FROM `user`
    </select>

    <insert id="saveUser" parameterType="site.liuye.demo.entity.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `user` (username, password, is_enabled, is_locked, is_deleted)
        VALUES (#{username}, #{password}, #{enabled}, #{locked}, #{deleted})
    </insert>

    <update id="updateUser" parameterType="site.liuye.demo.entity.User">
        UPDATE `user`
        SET username   = #{username},
            password   = #{password},
            is_enabled = #{enabled},
            is_locked  = #{locked},
            is_deleted = #{deleted}
        WHERE id = #{id}
    </update>

    <delete id="removeUserById" parameterType="long">
        DELETE
        FROM `user`
        WHERE id = #{id}
    </delete>
</mapper>